/************

Colors

************/

$dark-blue: #144F71;
$blue: #1B9CFA;
$blue2: #1b88fa;
$light-blue: #9ed5fb;
$dark-grey: #231F20;
$medium-grey: #6D6E70;
$light-grey: #E5E5E5;
$extra-light-grey: #E6E6E6;
$orange: #FA6622;
$green: #19a743;
$green2: #1d9c34;
$red: #e62319;
$purple: #9d29ba;
$teal: #1fc0bf;
$yellow: #fbc124;

/************

Shadow

************/

$shadow-standard: 0px 0px 15px rgba(0, 0, 0, 0.15);

/************

Fonts

************/


@font-face {
    font-family: 'Futura Today Normal';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.eot);
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_normal.ttf) format('truetype'), url(http://www.usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Light';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.eot);
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_light.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_light-webfont.svg#FuturaLight) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today DemiBold';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_demibold.eot);
    src: url(http://wusatoday30.usatoday.com/_common/_fonts/futura_today_demibold.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_fonts/futura_today_demibold.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_demibold.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaDemiBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.eot);
    src: url(usatoday30.usatoday.com/_fonts/futura_today_bold.eot?#iefix) format('embedded-opentype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.woff) format('woff'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_today_bold.ttf) format('truetype'), url(http://usatoday30.usatoday.com/_common/_fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}