@import "bits";
@import "breakpoints";

* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}


body, div, html, {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  height: 100%;

  @media (max-width: $breakPoint-medium) {
    font-size: 80%;
  }
}

body {
  background-color: $light-grey;
  font-family: "Futura Today Bold", Arial,sans-serif;
  // height: 100%;
  // overflow: hidden;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
@import "layout";
@import "card";
@import "typography";
@import "popover";
@import "chart";
@import "nav-buttons";
@import "page-header";
@import "nav";
@import "social";
@import "buttons";

